<IfModule mod_rewrite.c>
    RewriteEngine On
    # Adjust this if your folder name is different
    RewriteBase /great/

    RewriteRule ^$ public/ [L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
